@{
    Layout = null;
}

    <link href="~/css/otp.css" rel="stylesheet" />
    <script src="~/js/otp.js"></script>
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

<body>
    <div class="container">
        <header>
            <i class="bx bxs-check-shield"></i>
        </header>
        <h4>Enter OTP Code</h4>
        <form action="#">
            <div class="input-field">
                <input type="number"/>
                <input type="number"/>
                <input type="number"/>
                <input type="number"/>
            </div>
            <button class="btnVerify">Verify OTP</button>
        </form>
    </div>
</body>
